.homeContainer{
    padding-top: 20px;
    width: 100%;
    min-height: 100vh;
    background-color: var(--home-bg);
    padding-bottom: 60px;
}

.recipeGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}